* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 600px;
  margin: auto;
  background-color: #f5f5f5;
}

.email-table {
  width: 100%;
  border-collapse: collapse;
}

.logo {
  font-size: 36px;
  padding: 12px 0;
  width: 100%;
}

.sign {
  font-size: 20px;
  color: #ddaa00;
  background-color: #173f4e;
  width: 100%;
  padding: 14px 0;
  text-align: center;
}
.refreshing {
  font-size: 28px;
  padding: 30px 0;
}
.check {
  font-size: 16px;
  text-align: center;
  padding: 32px 80px;
  color: #173f4e;
}
.get {
  text-align: center;
}
.menu {
  padding: 10px 24px;
  border-radius: 6px;
  background-color: #ddaa00;
  border: none;
  color: #173f4e;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.link {
  color: black;
}
.box {
  padding: 36px 10px;
  width: 100%;
}
.new-menu {
  width: 50%;
  padding: 10px;
}
.title {
  color: #0a2647;
  font-size: 32px;
  margin: 0 0 20px 0;
}
.left-text {
  color: #333333;
  line-height: 1.5;
  margin: 0 0 30px 0;
}
.btn {
  background-color: #0a2647;
  border-radius: 8px;
}
.btn-text {
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  display: inline-block;
  font-weight: bold;
}
.image-box {
  width: 50%;
  padding: 20px;
}
.food-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.footer {
  background-color: #7c5d3d;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
.details {
  color: #ddaa00;
  font-weight: 800;
}
.contact {
  margin-top: 6px;
  color: white;
}
